<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-plus" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <!-- tabs  -->
    <ion-tabs class="tabs-stable tabs-icon-top">

      <ion-tab href="#/app/wechatList" title="微信" icon-on="ion-ios-chatbubble balanced" icon-off="ion-ios-chatbubble-outline">
        <ion-nav-view name="tab-wechat"></ion-nav-view>
      </ion-tab>

      <ion-tab href="#/app/search" title="通讯录" icon-on="ion-ios-people balanced" icon-off="ion-ios-people-outline">
        <ion-nav-view name="tab-address"></ion-nav-view>
      </ion-tab>

      <ion-tab href="#/app/browse" title="发现" icon-on="ion-ios-navigate balanced" icon-off="ion-ios-navigate-outline">
        <ion-nav-view name="tab-discover"></ion-nav-view>
      </ion-tab>

      <ion-tab title="我" icon-on="ion-ios-person balanced" icon-off="ion-ios-person-outline" on-select="login()" >
        <ion-nav-view name="tab-user"></ion-nav-view>
      </ion-tab>

    </ion-tabs>
  </ion-side-menu-content>

  <ion-side-menu side="right">
    <ion-header-bar class="bar-stable">
      <h1 class="title">菜單</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item class="item-icon-left" menu-close ng-click="login()">
          <i class="icon  ion-ios-person"></i>
          登錄
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="#/app/search">
          <i class="icon  ion-ios-chatbubble"></i>
          發起羣聊
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="#/app/browse">
          <i class="icon  ion-person-add"></i>
          添加朋友
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="#/app/picture">
          <i class="icon  ion-camera"></i>
          相機
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="#/app/scanBarcode">
          <i class="icon  ion-qr-scanner"></i>
          掃一掃
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="#/app/geoPosition">
          <i class="icon  ion-location"></i>
          獲取地址信息
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="#/app/notification">
          <i class="icon  ion-card"></i>
          本地推送
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="#/app/playlists">
          <i class="icon  ion-email"></i>
          幫助與反饋
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
