<ion-view view-title="Notification">
  <ion-content>
    <h1>Notification</h1>
    <div class="list">
      <label class="item item-input item-floating-label">
        <button class="button button-block button-positive" ng-click="scheduleSingleNotification()">scheduleSingleNotification</button>
      </label>
      <label class="item item-input item-floating-label">
        <button class="button button-block button-positive" ng-click="scheduleMultipleNotifications()">scheduleMultipleNotifications</button>
      </label>
      <label class="item item-input item-floating-label">
        <button class="button button-block button-positive" ng-click="scheduleDelayedNotification()">scheduleDelayedNotification</button>
      </label>
      <label class="item item-input item-floating-label">
        <button class="button button-block button-positive" ng-click="scheduleEveryMinuteNotification()">scheduleEveryMinuteNotification</button>
      </label>
    </div>
  </ion-content>
</ion-view>
