<!--<ion-view view-title="Playlists">-->
  <!--<ion-content>-->
    <!--<ion-list>-->
      <!--<ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">-->
        <!--{{playlist.title}}-->
      <!--</ion-item>-->
    <!--</ion-list>-->
  <!--</ion-content>-->
<!--</ion-view>-->

<ion-view view-title="Playlists">
  <ion-content>
    <div class="list list-inset">
      <!--<label class="item item-input">-->
        <!--<i class="icon ion-search placeholder-icon"></i>-->
        <i class="icon ion-ios-search-strong"></i>Any <input type="text" placeholder="Any" ng-model="search.$">
        <i class="icon ion-ios-star"></i>Title <input type="text" placeholder="Title" ng-model="search.title">
        <i class="icon ion-ios-analytics"></i>Content <input type="text" placeholder="Content" ng-model="search.content">
        <i class="ion-ios-paperplane"></i>CheckBox <ion-checkbox ng-model="filter.blue" ng-click="login()">Red</ion-checkbox>
      <!--</label>-->
    </div>
    <ion-list>
      <ion-item class="item item-thumbnail-left" ng-repeat="playlist in playlists | filter:search | orderBy:'title'" href="#/app/playlists/{{playlist.id}}">
        <img src="{{playlist.cover}}">
        <h2>{{playlist.title}}</h2>
        <p>{{playlist.content}}</p>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-view>

